svg.typst-doc {
  filter: invert(100%) sepia(0%) saturate(367%) hue-rotate(19deg)
    brightness(105%) contrast(101%);
}

/* 使块级公式不单独成行 */
svg.typst-doc:not(.typst-inline) {
  display: inline !important;
  margin: 0 !important;
}
