---
import { getEntry, render } from "astro:content";
import BusinessCard from "@/components/ui/cards/business-card";
import Prose from "@/components/style/prose.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import { defaultLang, useTranslations } from "@/utils/i18n";

const about = await getEntry("info", `${defaultLang}/about`);
const { Content } = await render(about!);
const t = useTranslations(defaultLang);
---

<BaseLayout title={t("nav.about")}>
  <div class="flex mb-12">
    <BusinessCard lang={defaultLang} client:load />
  </div>
  <Prose>
    <Content />
  </Prose>
</BaseLayout>
